{% extends "fourth_task/menu.html" %}
{% block content %}
    <h1>Новости</h1>
    <ul>
        {% for new in page_obj %}
            <li>
                 {{ new.id }}. {{ new.title }} - {{ new.content }}
            </li>
        {% empty %}
            <p>Нет постов.</p>
        {% endfor %}
    </ul>
    <!-- показываем пагинатор -->
    <div class="pagination">
        <p>Страницы:</p>
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li>{{ page_obj.number }}/{{ paginator.num_pages }}</li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li><a href="?page={{ paginator.num_pages }}">>>></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
